body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #FFFFFF; /* White text color */
    margin: 0;
    padding: 0;
}

main {
    outline: 2px solid green;
    margin: 5px;
    
    min-height: 100%;
    min-width: 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    box-sizing: border-box;
}
  
#search-form {
    width: 100%; /* Occupy the full available horizontal space */
    margin: 10px 0; /* Add some vertical spacing around the search form */
}

.searchbar {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 12px;
    color: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    background-color: #433F6A; /* Slightly darker search bar input background */
    border-radius: 5px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
  }
  
  .searchbar:focus {
    outline: none;
  }

.searchbar::placeholder {
    color: #777;
}

.hint-div {
    font-family: 'Consolas', monospace;
    color: #333;
    background: #fafafa;
    font-size: 12px;
    
    cursor: pointer;

    padding-left: 10px;
    padding-right: 10px;

    margin-top: 1px;
    margin-bottom: 1px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.highlight {
    background-color: rgba(179, 28, 28, 0.8);
    font-weight: bold;
}


/*to sie nie wyswietla, czemu??*/
.searchbar-hints-div {
    background: #fafafa;
    outline: 1px solid blue;
    width: 100%; /* Match the width of the search bar */
    margin-top: -10px;
}

.main-div {
    outline: 2px solid pink;
    
    display: flex; /* Make .main-div a flex container */
    flex-direction: row; /* Set the flex direction to column */
    justify-content: space-between;
    align-items: center;
    
    width: 1000px;
    margin-top: 80px; /* Use margin-top instead of top for positioning */
    margin-bottom: 80px;

}

.description-div {
    flex: 1;
    
    width: 100%;
    max-width: 100%;
    
    display: flex;
    flex-direction: column; 

    overflow: hidden;
}

.charts-div {
    flex: 1;

    width: 100%; 
    max-width: 100%;

    display: flex; 
    flex-direction: column; 
}