body {
    width: 100vw;
    height: 100vh;

    overflow: auto;

    margin: 0;
    padding: 0;
}

main {
    width: 50%;
    height: 100%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    outline: 2px solid green;

    margin: 4px;
    padding: 4px;
}

main, .search-div, .charts-div {
    box-sizing: border-box;
}

main > h1 {
    font-size: 2rem;
    color: black;
}

p {
    text-align: justify;
}

input, p, .searchbar::placeholder, .hint {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

.search-div, form {
    width: 100%;

    outline: 1px solid rgb(255, 72, 0);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 80%;
    padding: 10px;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */

    border: none;
    border-radius: 4px;
}

input:focus {
    outline: none;
}

.search-hints {
    position: relative;
    outline: 1px solid blue;
}

.hint {    
    cursor: pointer;

    padding-left: 10px;
    padding-right: 10px;

    margin-top: 1px;
    margin-bottom: 1px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.highlight {
    background-color: rgba(179, 28, 28, 0.8);
    font-weight: bold;
}

.charts-div {
    width: 100%; 
    height: 100%;
    outline: 1px solid purple;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}