body, .hint {
    padding: 0;
    margin: 0;

    background-color: white;
}

main {
    width: 50%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    outline: 1px solid green;

    margin: 0 auto;
    padding: 4px;
}

/*
    expand on this, im bardziej bedzie scustomowane tym
    lepiej bedzie wygladac, bardziej responsive
*/
@media screen and (max-width: 1000px) {
    main {
        width: 90%;
    }
}

body, main, .search-div, .charts-div, .map-wrapper, .results-div, .searchbar-wrapper{
    box-sizing: border-box;
}

main > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: black;
}

p {
    text-align: justify;
}

input, p, .searchbar::placeholder, .hint, .result-label, footer, select, option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
}

.search-div {    
    width: 100%;
    height: 40px;
    
    outline: 1px solid rgb(255, 72, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.searchbar-wrapper {
    position: relative;
    width: 80%;
    height: 100%;
    outline: 1px solid rgb(85, 255, 0);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

select {
    outline: none;
    border-radius: 4px;
    height: 100%;
}

select:focus {
    outline: none;
}

option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchbar-wrapper > div {
   flex: 1;
   box-sizing: border-box;
}

input {
    padding: 10px;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;

    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

input:focus {
    outline: none;
}

.search-hints {
    width: 100%;

    position: absolute;
    outline: 1px solid blue;

    padding: 1px;

    top: 100%;

    z-index: 1;
    box-sizing: border-box; 
}

/*to musi byc dynamiczne na podstawie wysokosci searchbaru*/
.searchbar-wrapper img {
    height: 24px;
    width: auto;
    padding: 4px;
}

.hint {    
    cursor: pointer;

    padding-left: 10px;
    padding-right: 10px;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.highlight {
    background-color: rgba(244, 244, 244, 0.946);
    font-weight: bold;
}

.map-wrapper {
    height: 300px;
    width: 100%;

    outline: 1px solid rgb(128, 49, 0);

    padding: 6px;
    margin-top: 4px;

    z-index: -1;
}

#map {
    height: 100%;
}

.result-label {
    width: 100%;
    
    left: 0;

    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;

    outline: 1px solid blueviolet;
}

.results-div {
    height: 100%;
    width: 100%;

    outline: 1px solid purple;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.legend-div {
    display: flex;

    max-width: 50%;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: 4px;
}

.legend-item p {
    display: inline-block;
    text-align: center;
}

.charts-div {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.charts-div div {
    width: 300px;
    height: 300px;

    padding: 20px;
}

.legend-item {
    outline: 1px solid blue;
    display: flex;
    align-items: flex-start;
    width: 100%;
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.legend-item img {
    width: 60px;
    height: 60px;
    align-self: center;
    justify-self: center;
    padding: 4px;
}

.legend-item > div {
    flex: 1;
    margin: 4px;
    max-width: calc(100% - 68px);
    overflow: hidden;
    box-sizing: border-box;
}

.legend-item > div p {
    font-size: 0.8rem;
    margin: 18px 0px 0px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%; 
}

/*percentage bar*/
.legend-item > div > div {
    transition: width 0.3s ease-in-out;
    height: 10px;
    border-radius: 6px;
}

/*percentage value*/
.legend-item > div > p:last-child {
    margin-top: 4px;
}

footer {
    text-align: center;
    margin: 8px;
}

/*
    > jeden w dol
    ' ' wszystkie w dol, regardless how deeply nested.
*/