<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2023 election app</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <!--<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/mona-sans">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <main>
        <div class = "main-div">
            <div class = "description-div">
                <h1>Title</h1>
                
                <form id="search-form">
                    <input type="text" id="searchbar" class="searchbar" placeholder="Search...">
                </form>
                
                <div id="searchbar-hints-div" class="searchbar-hints-div"></div> <!--to jest zle pewnie-->
            </div>
            
            <div class = "charts-div">
                <canvas class="bar-chart"></canvas>
                <canvas class="doughnut-chart"></canvas>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="../static/js/script.js"></script>
    <script type="module" src="../static/js/charts.js"></script>
</body>
</html>